# Folders
bin
obj
.deps
autom4te.cache
util/parser/lwp
util/test/test
# Files
*~
*.depend
*.layout
*.exe
*.log
compile
missing
install-sh
depcomp
ar-lib
libtool
ltmain.sh
test-driver
aclocal.m4
*.in
configure
config.guess
config.status
config.sub
stamp-*
Makefile
*.o
*.Po
*.a
*.la
*.lo
*.patch
autoscan.log
COPYING
INSTALL
json
*.bak
bak
*.sublime-workspace
*.orig